@use '../../../../styles/mixins/container.scss' as *;

$container-breakpoints: (
  smallest: 100%,
  768px: 720px,
  1024px: 960px,
  1200px: 1140px,
  1400px: 1280px,
  1600px: 1440px,
);

.container {
  position: relative;
  @include container($container-breakpoints);
}
