.header {
  padding: 10px 0;
  background-color: var(--color-accent-secondary);
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.link-list {
  display: flex;
  gap: 10px;
  list-style: none;
}

.navigation {
  display: flex;
  align-items: center;
}

.link {
  color: var(--color-background);
  text-decoration: none;
}

.content {
  display: flex;
  align-items: center;
  gap: 15px;
}

.light-btn {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 7px;
  color: var(--color-background);
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.ray-container {
  position: absolute;
  top: 100%;
  left: 50%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  transform: translateX(-50%);

  :nth-child(1) {
    transform: rotate(30deg) translate(7px, -7px);
  }

  :nth-child(3) {
    transform: rotate(-30deg) translate(-7px, -7px);
  }
}

.light-ray {
  display: block;
  top: 100%;
  width: 2px;
  height: 7px;
  border-radius: 20px;
  background-color: var(--color-background);
}
