.form {
  position: relative;
}

.btn-container {
  position: absolute;
  top: 50%;
  right: 0;
  height: 100%;
  transform: translateY(-50%);

  button {
    border-radius: 0;
    height: 100%;
  }
}
