@use '@angular/material' as mat;
@use '../material-palettes/theme-1-light_theme-colors.scss' as theme-1-light;
@use '../material-palettes/theme-1-dark_theme-colors.scss' as theme-1-dark;
@use '../material-palettes/theme-2-light_theme-colors.scss' as theme-2-light;
@use '../material-palettes/theme-2-dark_theme-colors.scss' as theme-2-dark;

html {
  .theme-1-light {
    @include mat.theme(
      (
        color: (
          theme-type: light,
          primary: theme-1-light.$primary-palette,
        ),
        typography: (
          plain-family: Inter,
          brand-family: Roboto,
          bold-weight: 900,
          medium-weight: 500,
          regular-weight: 300,
        ),
        density: 0,
      )
    );
  }

  .theme-1-dark {
    @include mat.theme(
      (
        color: (
          theme-type: dark,
          primary: theme-1-dark.$primary-palette,
        ),
        typography: (
          plain-family: Inter,
          brand-family: Roboto,
          bold-weight: 900,
          medium-weight: 500,
          regular-weight: 300,
        ),
        density: 0,
      )
    );
  }

  .theme-2-light {
    @include mat.theme(
      (
        color: (
          theme-type: light,
          primary: theme-2-light.$primary-palette,
        ),
        typography: (
          plain-family: Orbitron,
          brand-family: DM Mono,
          bold-weight: 900,
          medium-weight: 500,
          regular-weight: 300,
        ),
        density: 0,
      )
    );
  }

  .theme-2-dark {
    @include mat.theme(
      (
        color: (
          theme-type: dark,
          primary: theme-2-dark.$primary-palette,
        ),
        typography: (
          plain-family: Orbitron,
          brand-family: DM Mono,
          bold-weight: 900,
          medium-weight: 500,
          regular-weight: 300,
        ),
        density: 0,
      )
    );
  }
}
