version: '3.8' # Docker Compose file format version

services:
  postgres:
    image: postgres:15
    container_name: sunday_postgres
    restart: always # Restart if it crashes
    environment:
      POSTGRES_USER: dev
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: postgre
    ports:
      - '5434:5432' # Map host's port 5434 to container's port 5432
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: sunday_backend
    restart: always
    environment:
      PG_HOST: postgres
      PG_PORT: 5432
      PG_USERNAME: dev
      PG_PASSWORD: 123
      PG_NAME: postgre
      NODE_ENV: production
    ports:
      - '4321:3000'
    command: ['sh', '-c', 'npm run migration:run && npm run start:prod']
    depends_on:
      - postgres

volumes:
  postgres_data: # Define a volume to persist PostgreSQL data
