@use '../../../../styles/variables.scss' as *;

.form {
  position: relative;
}

.btn-container {
  position: absolute;
  top: 50%;
  right: 0;
  height: 100%;
  transform: translateY(-50%);

  button {
    border-radius: 0;
    height: 100%;
    max-width: 130px;

    @media (min-width: $breakpoint-sm) {
      max-width: unset;
    }
  }
}
