.mat-mdc-form-field-subscript-wrapper {
  height: 0 !important;
  overflow: hidden;
}

.mat-mdc-progress-spinner {
  width: 81% !important;
  height: 81% !important;
}

.mat-mdc-cell {
  text-align: center !important;
}

.mat-mdc-header-cell {
  text-align: center !important;
}

.mat-button-toggle-group {
  display: grid !important;
  grid-auto-flow: column !important;
  grid-auto-columns: 1fr !important;
  border-radius: 0 !important;
}

.shorter {
  .mat-mdc-form-field-infix {
    padding: 8px 0 !important;
    min-height: unset !important;
  }
}

.theme-1-dark,
.theme-2-dark {
  .mat-expansion-panel:not([class*='mat-elevation-z']) {
    box-shadow: 0px 3px 1px -2px rgba(255, 255, 255, 0.2), 0px 2px 2px 0px rgba(255, 255, 255, 0.14),
      0px 1px 5px 0px rgba(255, 255, 255, 0.12) !important;
  }
}
