:root,
.theme-1-light {
  --color-background: #f9fafb;
  --color-accent-primary: #2c3e50;
  --color-accent-secondary: #2980b9;
  --color-text: #1a1a1a;
  --color-success: #2ecc71;
  --color-error: #e74c3c;
}

.theme-1-dark {
  --color-background: #121212;
  --color-accent-primary: #3498db;
  --color-accent-secondary: #00cec9;
  --color-text: #e0e0e0;
  --color-success: #27ae60;
  --color-error: #c0392b;
}

.theme-2-light {
  --color-background: #f5f7fa; //#10151F
  --color-accent-primary: #6c5ce7;
  --color-accent-secondary: #00cec9;
  --color-text: #1c1c1c;
  --color-success: #00b894;
  --color-error: #d63031;
}

.theme-2-dark {
  --color-background: #0b0f1a; //#10151F
  --color-accent-primary: #8e44ad;
  --color-accent-secondary: #f9ca24;
  --color-text: #f0f0f0;
  --color-success: #00ffab;
  --color-error: #ff4e50;
}
