.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  z-index: 1;

  &--overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128);
    transform: translate(-50%, -50%);
  }
}
