.option-header {
  display: flex;
  gap: 10px;
}

.option-content {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}

.options-container {
  display: block;
  padding: 20px 0;
}

.helper-text {
  width: 100%;
  color: var(--color-text-muted);
  font-size: 14px;
}
