// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use './styles/overwrites.scss';
@use './styles/themes/index.scss';

// html {
//   @include mat.theme(
//     (
//       color: (
//         theme-type: light,
//         primary: mat.$azure-palette,
//         tertiary: mat.$azure-palette,
//       ),
//       typography: Roboto,
//       density: 0,
//     )
//   );
// }
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: var(--color-background);
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

* {
  box-sizing: border-box;
}
