// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use './styles/overwrites.scss';
@use './styles/themes/index.scss';

// html {
//   @include mat.theme(
//     (
//       color: (
//         theme-type: light,
//         primary: mat.$azure-palette,
//         tertiary: mat.$azure-palette,
//       ),
//       typography: Roboto,
//       density: 0,
//     )
//   );
// }
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-inline-start: 0;
}

:root {
  --border-radius-primary: 20px;
  --border-radius-secondary: 0;

  --breakpoint-smallest: 0;
  --breakpoint-sm: 768px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1400px;
  --breakpoint-xxl: 1600px;
}
